{
  "env": {
    "browser": true,
  },
  "extends": [
    "airbnb"
  ],
  "rules": {
    "semi": ["error", "never"],
    "comma-dangle": "off",
    "global-require": "off",
    "no-confusing-arrow": "off",
    "import/no-extraneous-dependencies": "off",
  },
}
