{
  "env": {
    "browser": true,
  },
  "extends": [
    "airbnb/base"
  ],
  "rules": {
    "semi": ["error", "never"],
    "comma-dangle": "off",
    "new-cap": "off",
    "capitalized-comments": "off",
    "no-confusing-arrow": "off",
    "global-require": "off",
    "class-methods-use-this": "off",
    "import/no-extraneous-dependencies": "off",
    "import/newline-after-import": "off"
  },
}
