<link rel="import" href="/bundles/nodecg-twitchie/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bundles/nodecg-twitchie/bower_components/iron-pages/iron-pages.html">

<link rel="import" href="twitchie-channel-field.html">
<link rel="import" href="twitchie-channel-status.html">

<dom-module id="twitchie-channel-info">
  <template>
    <twitchie-channel-field></twitchie-channel-field>

    <iron-pages
      id="pages"
      selected="status"
      attr-for-selected="name"
    >
      <section name="error">
        We couldn't find any channels with that ID on Twitch.
      </section>

      <section name="status">
        <div id="loading" class="c-loading">
          <div class="c-loading__message">
            <paper-spinner class="c-loading__spinner" active></paper-spinner>
            <span>Retrieving channel info&hellip;</span>
          </div>
        </div>

        <twitchie-channel-status></twitchie-channel-status>
      </section>
    </iron-pages>
  </template>

  <script src="twitchie-channel-info.js"></script>
</dom-module>
